<div class="container" style="margin-top: 20px;">
<h2 style="padding-bottom: 20px;">Introduction</h2>
<p style="font-size: larger;padding-bottom: 30px;font-family: sans-serif;">Employee management is a practice that helps a manager improve employee productivity and satisfaction to help an organisation reach its goals. Human resources (HR) professionals often use an employee management system (EMS), including recruitment, offboarding and performance management.
     Using a dedicated EMS can help an HR manager streamline the hiring process and improve workplace efficiency. 
    In this article, we discuss what an employee management systems is, outline its benefits and types and list some examples of employee management software tools.</p>
</div>

<div class="container">
    <img src="https://img.freepik.com/free-vector/recruit-agent-analyzing-candidates_74855-4565.jpg?w=1060&t=st=1677147260~exp=1677147860~hmac=3dc50bdc6ba3c8fe0e834413acb978847c783a0a591025624f2082735897ab0f" alt="">
</div>
<div class="container">
    <div class="row">
    <div class="col-lg-5" style="border: 2px solid grey;">
        <h2 class="size">Benefits</h2>
        <ul class="fine">
        <li>Secure information</li>
        <li>Increased Productivity</li>
        <li>Richer Employee Experiences</li>
        <li>Complaince Support</li>
        <li>Actionable insights</li>
    </ul>
    </div>

    <div class="col-lg-5"  style="border: 2px solid grey;">
        <h2 class="size">Features</h2>
        <ul class="fine">
        <li>Employee Onboarding</li>
        <li>Performance Monitoring</li>
        <li>Employee Survey</li>
        <li>Resource Management</li>
        <li>Employee Notfication</li>
    </ul>
    </div>
</div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Our Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Affiliate Program</a></li>
        </ul>          
       </div>
      <div class="footer-col">
        <h4>Contact Information</h4>
        <ul>
          <li> <a href="">old 12-a Ram Nagar, Coimbatore</a> </li>
          <li type=""> <a href=""> 9x0x832114</a></li>
          <li> <a href=""> citadel@gmail.com</a> </li>
        </ul>          
       </div>
      <div class="footer-col">
        <h4>Employee Services</h4>
        <ul>
          <li> <a href="">Create</a></li>
          <li> <a href="">Read</a></li>
          <li> <a href="">Update</a></li>
          <li> <a href="">Delete</a></li>
          <li> <a href="">Filtering</a></li>
        </ul>          
       </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-links">
          <a href="">
            <span class="fab fa-facebook-f"></span>
            <span class="fab fa-facebook-f"></span>
          </a>
          <a href="">
            <span class="fab fa-twitter"></span>
            <span class="fab fa-twitter"></span>
          </a>
          <a href="">
            <span class="fab fa-instagram"></span>
            <span class="fab fa-instagram"></span>
          </a>
          <a href="">
            <span class="fab fa-linkedin-in"></span>
            <span class="fab fa-linkedin-in"></span>
          </a>
        </div>    
       </div>
    </div>
  </div>
</footer>
  